.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--roberta {
    background: url(assets/img/pessoas/roberta.jpg) no-repeat center;
}

.pessoa__imagem--marcela {
    background: url(assets/img/pessoas/marcela.jpg');
}

.pessoa__imagem--andreia {
    background: url(assets/img/pessoas/andreia.jpg');
}
