.receita__conteudo {
    padding: 1rem;
    justify-content: space-around;
}

@media screen and (min-width: 0) {
    .receita__conteudo {
        padding: 1rem;
        margin-right: 30%;
    }
}

@media screen and (min-width: 768px) {

}